#title{
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
}

#description{
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 23px;
}

#upload-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}