#title{
    color: #ffffff;
    font-family: "Proza Libre", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
}

#description{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 23px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}